<div class="container">
  <div class="jumbotron">
    <table style="width:100%">
      <tr>
        <td><b>User</b></td>
        <td><b>Times Visited</b></td> 
        <td><b>Visits  Reward</b></td>
      </tr>
      <tr>
        <td>Alex</td>
        <td>7</td> 
        <td>10</td>
      </tr>
      <tr>
        <td>Anish</td>
        <td>1</td> 
        <td>10</td>
      </tr>
      <tr>
        <td>Drake</td>
        <td>0</td> 
        <td>10</td>
      </tr>
    </table>
  </br>
  </br>
    <p> Daily Code: 3erT4w2B</p>
  </div>
</div>